<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Message</title>

    <script language="JavaScript">
        function changeActive(){
            var oldActive = document.getElementsByClassName("active")[0];
            var newActive = document.getElementById("nav-message");
            newActive.className = "active";
            oldActive.className = "inactive";
        }
    </script>
</head>

  <body onload="changeActive()">
  <div class="container" style="min-width:200px;max-width:600px;margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;">

  {% include 'header.html' %}
    <h2 class="form-signin-heading">View Messages</h2>
  <h3>Received Messages</h3>
    <form method = "POST" action="/deletemessages/" >

    {% csrf_token %}
{% for Message in messages %}
    {%if Message.recipient == user.username%}
        <br><header> From: {{Message.sender}} </header>
        <header> To: {{Message.recipient}}</header>
        <text> Message: {{Message.messagebody}}</text>
        <input type="checkbox" name="deletebox" value={{Message.messagebody}}> Delete </br>
    {% endif %}
{% endfor %}

    <br>
    <br>

    <input type = "submit" class="btn btn-danger" value="Delete" name = "submit" >
</form>

  <h3>Sent Messages</h3>
  {% for Message in messages %}
    {%if Message.sender == user.username%}
        <br><header> From: {{Message.sender}} </header>
        <header> To: {{Message.recipient}}</header>
        <text> Message: {{Message.messagebody}}</text>
    {% endif %}
{% endfor %}
  </div>
  </body>
</html>