{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Congratulations, you have registered</title>
</head>
<body background="{% static 'img/base2.jpg' %}">
{% include 'header.html' %}
<div class="text-center">
    <h2><font color="white">Congratulations, you have registered!</font></h2>
</div>

 {% csrf_token %}
<br><br><br>
 <div class = "text-center">
 <a href="https://fintech-s17-team20.herokuapp.com/base/"><button class="btn btn-success"> Click to continue logging in</button></a>
</div>
</body>
</html>