<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Signup</title>
</head>
<body>
<h2>Group Signup</h2>
<form method="POST" action="/getdata/">
	<table>
		<tr>
			<td>Enter your group name:</td>
			<td><input type="text" name="group_name">
		</tr>
		<tr>
			<td>Add Members</td>
			<td><input type="text" name="add_members">
		<tr>
			<td>Remove Members</td>
			<td><input type="text" name="remove_members">
		</tr>

		<tr>
			<td>
				<button>Submit Group</button>
			</td>
		</tr>
	</table>
</form>
</body>
</html>