<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title></title>
    <script language="JavaScript">
        function changeActive(){
            var oldActive = document.getElementsByClassName("active")[0];
            var newActive = document.getElementById("nav-group-signup");
            newActive.className = "active";
            oldActive.className = "inactive";
        }
    </script>
</head>

<div class="container" style="min-width:200px;max-width:600px;margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;">
  <body onload="changeActive()">
  {% include 'header.html' %}
    <h2 class="form-signin-heading"> Group Homepage </h2>

     <p style="color:red"><b>{{ message }}</b></p>

  <table class="table table-hover">
            <tr>
              <th class="col-md-8">Group</th>
              <th class="col-md-2">Add a new user?</th>
              <th class="col-md-2">Remove yourself?</th>
            </tr>
       {% for group in allGroups %}
      <tr>
          <td><a href="groupHome/{{ group.name }}"> {{ group.name }}</a></td>
          <td>
              <form id="login_form" method="post" action="/addUserToGroup/{{ group.id }}">
              {% csrf_token %}
              <input type="text" name="userHtml" class="form-control" placeholder="Username" required style="width: 400px;"><br>
              </form>
          </td>
            <td><a href="/deleteUserFromGroup/{{ group.id }}">REMOVE</a></td>
      </tr>
            {% endfor %}
  </table>
      <a type="submit" class = "btn btn-primary btn-lg" href="/groupSignup/">Click to Create a New Group</a>
</body>
</div>

</html>
