{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groups, Login below.</title>
</head>
<body>
<form>
    <div>
    <label for="group_name">Group Name: </label>
    <input type="group_name" class="form-control" id="group_name" placeholder="Group Name">
    </div>
    <div>
    <label for="group_password" class="sr-only">Group Password: </label>
    <input type="password" id="group_password" class="form-control" placeholder="Password" required><br>
    </div>
    <div>
    <button type="submit" class="btn btn-default">Login</button>
    </div>
</form>

</body>
</html>