{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<div class="container" style="min-width:200px;max-width:600px;margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;">
  <body>
    <h2 class="form-signin-heading">Welcome Groups, register or login below.</h2>
    <a href="http://localhost:8000/groupSignup/"><button>Click to Register</button></a>
    <a href="http://localhost:8000/groupLogin/"><button>Click to Login</button></a>
</body>
</div>

</html>
