<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Signup</title>
	<script language="JavaScript">
		function validInfo() {
			var groupName = document.getElementById("group_name").value;
			var addMembers = document.getElementById("add_members").value;
			var removeMembers = document.getElementById("remove_members").value;
			var errorMessage = "";
			var errors = 0;
			if (groupName == ""){
			    errorMessage += "Please enter your group name. ";
				errors++;
			}

			if (addMembers == "" && removeMembers == ""){
			    errorMessage += "Please enter the members you would like to add or remove to the group";
				errors++;
			}

			if (errors > 0){
			    alert(errorMessage);
				return false;
			} else {
			    return true;
			}
        }

	</script>
</head>
<body>
<h2>Group Signup</h2>
<form method="POST" action="/getdata/" onsubmit="return validInfo()">
	<table>
		<tr>
			<td>Enter your group name:</td>
			<td><input type="text" name="group_name" id="group_name">
		</tr>
		<tr>
			<td>Add Members</td>
			<td><input type="text" name="add_members" id="add_members">
		<tr>
			<td>Remove Members</td>
			<td><input type="text" name="remove_members" id="remove_members">
		</tr>

		<tr>
			<td>
				<input type="submit" id="submit" value="Submit">
			</td>
		</tr>
	</table>
</form>
</body>
</html>