<!DOCTYPE html>
{% include 'header.html' %}
<html lang="en">
<head>

</head>
<body>
<form class="form-wrapper cf", method="POST", action="/search/">
    {% csrf_token %}
  	<input type="text" name = "tag" placeholder="Search here..." required>
	  <button type="submit">Search</button>

</form>
<table>
{% for item in searched %}
    <div>
        <b>Username: </b>{{item.username}}<br>
        <b>First Name: </b>{{item.first_name}}<br>
        <b>Last Name: </b>{{item.last_name}}<br>
        <b>Email: </b>{{item.email}}<br>
    </div>
{% endfor %}
</table>
</body>
</html>