<!DOCTYPE html>
{% include 'header.html' %}
<html lang="en">
<head>

</head>
<body>
<form class="form-wrapper cf", method="POST", action="/search/">
    {% csrf_token %}
  	<input type="text" name = "tag" placeholder="Search here..." required>
	  <button type="submit">Search</button>

</form>
<table>
{% for item in searched %}
    <div>
        <b>Username: </b><strong class="mb-1">{{item.username}}</strong><br>
        <b>First Name: </b><strong class="mb-1">{{item.first_name}}</strong><br>
        <b>Last Name: </b><strong class="mb-1">{{item.last_name}}</strong><br>
        <b>Email: </b><strong class="mb-1">{{item.email}}</strong><br>
        <br>
    </div>
{% endfor %}
</table>
</body>
</html>