<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Reports</title>

   <script language="JavaScript">

     function changeActive(){
            var oldActive = document.getElementsByClassName("active")[0];
            var newActive = document.getElementById("nav-view-reports");
            newActive.className = "active";
            oldActive.className = "inactive";
        }

   </script>
</head>
<body onload="changeActive()">
{% include 'header.html' %}


<form method="post" action="/getdata/">
  {% csrf_token %}
      <div class="container">
        <div class="text-center"><h1 class="page-header">View reports</h1></div>
          <form class="text-center">

              <!--SEARCH BAR -->
  	<style>
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
</style>
</head>
<body>

<h6><i>Search by Company Name</i></h6>

<form>
  <input type="text" name="search" placeholder="Search..">

    <!--  ################ ADD SEARCH FUNCTIONALITY HERE ############## -->
</form>
<!--END SEARCH BAR -->

    </form>
        <br><br>

  {% csrf_token %}
          <div class="text-center">
          <h4><strong>Click to Download & View Report</strong></h4>
          </div>
  <div class="list-group">
      {% for r in allReports %}
        {% for f in r.poodle.all %}

      <a href="{{ f.files.url }}" download class="list-group-item list-group-item-action list-group-item-info flex-column align-items-start">
          <strong>{{ f.files.name }}</strong> </a>
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-1"></h6>
    </div>
    <p class="mb-1">{{r.company_name}}</p>
          <p class="mb-1">{{r.company_location}}</p>
          <p class="mb-1">{{r.company_country}}</p>
      <p class="mb-1">{{r.company_phone}}</p>
        <small>{{r.current_projects}}</small>
      {% endfor %}
      {% endfor %}
  </div>
</div>
        </table>
      </div>

</body>
</html>
