<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Reports</title>

   <script language="JavaScript">

     function changeActive(){
            var oldActive = document.getElementsByClassName("active")[0];
            var newActive = document.getElementById("nav-view-reports");
            newActive.className = "active";
            oldActive.className = "inactive";
        }

   </script>
</head>
<body onload="changeActive()">
{% include 'header.html' %}

<form  method="POST" action="/showReport/" onsubmit="return validInfo()">
<!-- <form method="post" action="/getdata/">
  {% csrf_token %} -->
      <div class="container">
        <div class="text-center"><h1 class="page-header">View reports</h1></div>
          <form class="text-center">

              <!--SEARCH BAR -->
<style>
input[type=text] {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
</style>
</head>
<body>

<div>
<h4>Search Here:</h4>

<!-- <form  method="POST" action="/showReport/" onsubmit="return validInfo()"> -->
    <input type="text" name="search_by_time_created" placeholder="Time Created..."> <br>
  <input type="text" name="search_by_company_name" placeholder="Company Name..."> <br>
    <input type="text" name="search_by_ceo_name" placeholder="CEO Name..."> <br>
      <input type="text" name="search_by_company_phone" placeholder="Company Phone..."><br>
      <input type="text" name="search_by_company_email" placeholder="Company Email..."><br>
  <input type="text" name="search_by_company_location" placeholder="Company Location..."><br>
  <input type="text" name="search_by_company_country" placeholder="Company Country..."><br>
  <input type="text" name="search_by_sector" placeholder="Sector..."><br>
  <input type="text" name="search_by_business_type" placeholder="Business Type..."><br>
  <input type="text" name="search_by_current_projects" placeholder="Current Projects..."><br>
  <div class="col-lg-3">
  <select class="form-control" name="select_and_or">
  <option value="and">AND</option>
  <option value="or">OR</option>
</select><br>
</div>
  <input type ="submit" class="btn btn-success btn-lg" name="submit" value="Search"/>


    <!--  ################ ADD SEARCH FUNCTIONALITY HERE ############## -->
<!-- </form> -->

</div>
<!--END SEARCH BAR -->

    <!-- </form> -->
        <br><br>

  {% csrf_token %}
          <div class="text-center">
          <h4><strong>Click to Download & View Report</strong></h4>
              <p style="color:red"><b>{{ query }}</b></p>
          </div>
  <div class="list-group">
      {% for r in allReports %}
        {% for f in r.poodle.all %}

      <a href="{{ f.files.url }}" download class="list-group-item list-group-item-action list-group-item-info flex-column align-items-start">
          <strong>{{ f.files.name }}</strong> </a>
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-1"></h6>
    </div>
        <b>Time Created:    </b>  <strong class="mb-1">{{ r.time_created }} </strong> <br>
        <b>Company Name:     </b>  <strong class="mb-1">{{r.company_name}} </strong> <br>
        <b>CEO Name:         </b>  <strong class="mb-1">{{r.ceo_name}} </strong> <br>
        <b>Company Phone:    </b>  <strong class="mb-1">{{r.company_phone}}</strong> <br>
        <b>Company Email:    </b>  <strong class="mb-1">{{r.company_email}}</strong> <br>
        <b>Company Location: </b>  <strong class="mb-1">{{r.company_location}}</strong> <br>
        <b>Company Country:  </b>  <strong class="mb-1">{{r.company_country}}</strong> <br>
        <b>Sector:  </b>  <strong class="mb-1">{{r.sector}}</strong> <br>
        <b>Industry:  </b>  <strong class="mb-1">{{r.business_type}}</strong> <br>
        <b>Current Projects: </b>  <small>{{r.current_projects}}</small> <br>
        <b>Private:</b>  <small>{{r.private}}</small> <br>
      {% endfor %}
    {% endfor %}
  </div>
</div>
        </table>
      </div>

</form>
</body>
</html>
