<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create User</title>
</head>
<body>
<h2>Create User</h2>
<form method="POST" action="/getdata/">
	<table>
		<tr>
			<td>Enter your first name:</td>
			<td><input type="text" name="first_name">
		</tr>
		<tr>
			<td>Enter your last name:</td>
			<td><input type="text" name="last_name">
		<tr>
			<td>Create a username</td>
			<td><input type="text" name="user_name">
		</tr>
		<tr>
			<td>Create a password</td>
			<td><input type="text" name="password"></td>
		</tr>
		<tr>
			<td>What type of user are you?</td>
			<td>
			<select name="user_type">
			<option value="type1"></option>
			<option value="type2"></option>
			<option value="type3"></option>
			</select>
			</td>
		</tr>
		<tr>
			<td>
				<button>Submit Form</button>
			</td>
		</tr>
	</table>
</form>
</body>
</html>
